# 环境准备

In [2]:
import warnings
import pandas as pd
from aquadb.query import read_table

warnings.filterwarnings('ignore')
pd.set_option('display.width', 10000)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

usr = 'scott'

# 读取数据

## 标的特征表

In [4]:
query = "SELECT * FROM PPD_LOAN_CHARACTERISTICS;"
characteristics = read_table(usr, query=query)
characteristics.head()

程序运行结束，运行时间0小时0分2.73秒.

   LISTINGID  LOAD_MONEY  LOAN_TERM  LOAN_RATE LOAN_FUNDING_DATE INITIAL_RATING LOAN_TYPE IS_FIRST_INVEST  AGE SEX IS_PHONE IS_RESIDENCE IS_VIDEO IS_EDU IS_CREDIT IS_TAOBAO  SUCCESS_LOAN_NUMBER  SUCCESS_LOAN_AMOUNT  TOTAL_NEED_AMOUNT  HISTORY_NORMAL_PAY_TERM  OVERDUE_TERM
0    1624171        3583         12       20.0        2015-01-08              C        普通               否   31   男     成功认证        未成功认证    未成功认证  未成功认证     未成功认证     未成功认证                    1                 3000            1838.63                        4             0
1    1624681        3690         12       18.0        2015-01-08              C        普通               否   24   男     成功认证         成功认证     成功认证  未成功认证     未成功认证     未成功认证                    8                25035            4516.96                       40             0
2    1624971        6886         12       22.0        2015-01-21              E        普通               否   24   男     成功认证        未成功认证     成功认证  未成功认证     未成功认证     未成功认证                    2                 7909               0.00                        3             0
3    1625901        3500         12       20.0        2015-01-07              C        普通               否   29   男     成功认证        未成功认证    未成功认证  未成功认证     未成功认证     未成功认证                    5                17650            7990.65                       24             0
4    1628371        3702         12       24.0        2015-01-08              F        普通               否   25   男     成功认证        未成功认证    未成功认证  未成功认证     未成功认证     未成功认证                    1                 3000               0.00                        1             0

In [21]:
characteristics['LOAN_TYPE'].unique()

array(['普通', '电商', '其他', 'APP闪电'], dtype=object)

In [13]:
characteristics_fields = characteristics.dtypes.reset_index()
characteristics_fields.columns = ['字段名', '字段类型']

comment = ['序列号', '借款金额', '借款期限', '借款利率', '借款成功日期', '初始评级', '借款类型', '是否首标', '年龄', '性别', '手机认证', 
           '户口认证', '视频认证', '学历认证', '征信认证', '淘宝认证', '历史成功借款次数', '历史成功借款金额', '总待还本金', 
           '历史正常还款期数', '历史逾期还款期数']
comment1 = ['列表序号，为列表的唯一键', '列表成交总金额', '总的期数（按月计）', '年化利率（百分数）', 
            '列表成交的日期。都在2015年1月1日以后', '列表成交时的信用评级。AAA为安全标，AA为赔标，A-F为信用等级', 
            "分为'应收安全标','电商','APP闪电','普通'和'其他'", '该标是否为借款人首标', '借款人在该列表借款成功时的年龄', 
            '该列表借款人性别', '该列表借款人手机实名认证是否成功', '该列表借款人户口认证是否成功', '该列表借款人视频认证是否成功', 
            '该列表借款人学历认证是否成功。成功则表示有大专及以上学历', '该列表借款人征信认证是否成功。成功则表示有人行征信报告', 
            '该列表借款人淘宝认证是否成功。成功则表示为淘宝店主', '借款人在该列表成交之前的借款成功次数', 
            '借款人在该列表成交之前的借款成功金额', '借款人在该列表成交之前待还本金金额', '借款人在该列表成交之前的按期还款期数', 
            '借款人在该列表成交之前的逾期还款期数']

characteristics_fields.insert(loc=1, column='中文字段', value=comment)
characteristics_fields.insert(loc=3, column='中文说明', value=comment1)
characteristics_fields

                        字段名      中文字段            字段类型                               中文说明
0                 LISTINGID       序列号           int64                       列表序号，为列表的唯一键
1                LOAD_MONEY      借款金额           int64                            列表成交总金额
2                 LOAN_TERM      借款期限           int64                          总的期数（按月计）
3                 LOAN_RATE      借款利率         float64                          年化利率（百分数）
4         LOAN_FUNDING_DATE    借款成功日期  datetime64[ns]              列表成交的日期。都在2015年1月1日以后
5            INITIAL_RATING      初始评级          object  列表成交时的信用评级。AAA为安全标，AA为赔标，A-F为信用等级
6                 LOAN_TYPE      借款类型          object   分为'应收安全标','电商','APP闪电','普通'和'其他'
7           IS_FIRST_INVEST      是否首标          object                         该标是否为借款人首标
8                       AGE        年龄           int64                    借款人在该列表借款成功时的年龄
9                       SEX        性别          object                           该列表借款人性别
10                 IS_PHONE      手机认证          object                   该列表借款人手机实名认证是否成功
11             IS_RESIDENCE      户口认证          object                     该列表借款人户口认证是否成功
12                 IS_VIDEO      视频认证          object                     该列表借款人视频认证是否成功
13                   IS_EDU      学历认证          object       该列表借款人学历认证是否成功。成功则表示有大专及以上学历
14                IS_CREDIT      征信认证          object        该列表借款人征信认证是否成功。成功则表示有人行征信报告
15                IS_TAOBAO      淘宝认证          object          该列表借款人淘宝认证是否成功。成功则表示为淘宝店主
16      SUCCESS_LOAN_NUMBER  历史成功借款次数           int64                 借款人在该列表成交之前的借款成功次数
17      SUCCESS_LOAN_AMOUNT  历史成功借款金额           int64                 借款人在该列表成交之前的借款成功金额
18        TOTAL_NEED_AMOUNT     总待还本金         float64                  借款人在该列表成交之前待还本金金额
19  HISTORY_NORMAL_PAY_TERM  历史正常还款期数           int64                 借款人在该列表成交之前的按期还款期数
20             OVERDUE_TERM  历史逾期还款期数           int64                 借款人在该列表成交之前的逾期还款期数

## 标的还款计划和还款记录表

In [15]:
query = "SELECT * FROM PPD_LOAN_PERIODIC;"
periodic = read_table(usr, query=query)
periodic.head()

程序运行结束，运行时间0小时0分10.93秒.

   LISTINGID  TERM  PAY_STATUS  PAYABLE_PRINCIPAL  PAYABLE_INTEREST  RESIDUE_PRINCIPAL  RESIDUE_INTEREST EXPIRATION_DATE    PAY_DATE RECORDDATE
0     126541     1           1            1380.23            270.00                0.0               0.0      2015-06-04  2015-06-04 2017-02-22
1     126541     2           1            1400.94            249.29                0.0               0.0      2015-07-04  2015-07-04 2017-02-22
2     126541     3           1            1421.95            228.28                0.0               0.0      2015-08-04  2015-08-04 2017-02-22
3     126541     4           1            1443.28            206.95                0.0               0.0      2015-09-04  2015-09-04 2017-02-22
4     126541     5           1            1464.93            185.30                0.0               0.0      2015-10-04  2015-10-04 2017-02-22

In [19]:
periodic_field = periodic.dtypes.reset_index()
periodic_field.columns = ['字段名', '字段类型']

comment1 = ['列表Id', '期数', '还款状态', '应还本金', '应还利息', '剩余本金', '剩余利息', '到期日期', '还款日期', '记录日']
periodic_field.insert(loc=1, column='中文字段', value=comment1)
comment2 = ['列表Id，主键', '期数Id，主键', '到记录日的当期状态', '当期计划还款本金部分', '当期计划还款利息部分', 
            '到记录日，仍未还清的当期本金', '到记录日，仍未还清的当期利息', '当期应还款日', '当期最近一次实际还款日期', '记录日']
periodic_field.insert(loc=3, column='中文说明', value=comment2)

periodic_field

                 字段名  中文字段            字段类型            中文说明
0          LISTINGID  列表Id           int64         列表Id，主键
1               TERM    期数           int64         期数Id，主键
2         PAY_STATUS  还款状态           int64       到记录日的当期状态
3  PAYABLE_PRINCIPAL  应还本金         float64      当期计划还款本金部分
4   PAYABLE_INTEREST  应还利息         float64      当期计划还款利息部分
5  RESIDUE_PRINCIPAL  剩余本金         float64  到记录日，仍未还清的当期本金
6   RESIDUE_INTEREST  剩余利息         float64  到记录日，仍未还清的当期利息
7    EXPIRATION_DATE  到期日期  datetime64[ns]          当期应还款日
8           PAY_DATE  还款日期          object    当期最近一次实际还款日期
9         RECORDDATE   记录日  datetime64[ns]             记录日

## 成交的所有标的

In [24]:
query = "SELECT * FROM PPD_LOAN_CHAR_INVEST_STATUS;"
charinvest = read_table(usr, query=query)
charinvest.head()

程序运行结束，运行时间0小时0分3.86秒.

   ListingId  LOAD_MONEY  LOAN_TERM  LOAN_RATE LOAN_FUNDING_DATE INITIAL_RATING LOAN_TYPE IS_FIRST_INVEST  AGE SEX IS_PHONE IS_RESIDENCE IS_VIDEO IS_EDU IS_CREDIT IS_TAOBAO  SUCCESS_LOAN_NUMBER  SUCCESS_LOAN_AMOUNT  TOTAL_NEED_AMOUNT  HISTORY_NORMAL_PAY_TERM  OVERDUE_TERM  INVEST_AMOUNT  CURRENT_BD_TERM  CURRENT_PAYED_TERM  REPAID_PRINCIPAL  REPAID_INTEREST  REPAIR_PAYABLE_PRINCIPAL  REPAIR_PAYABLE_INTEREST  CURRENT_OVERDUE_DAYS CURRENT_STATUS LAST_PAY_DATE  LAST_PAY_PRINCIPAL  LAST_PAY_INTEREST NEXT_PAYABLE_DATE  NEXT_PAYABLE_PRINCIPAL  NEXT_PAYABLE_INTEREST  RECORDDATE
0   15768398        2170         12       22.0         2016/7/16              C        其他               否   28   男    未成功认证        未成功认证    未成功认证   成功认证     未成功认证     未成功认证                  3.0              10905.0            5829.19                        7             5             50                5                   5             19.51             3.88                     30.49                     2.27                     0          正常还款中    2016/12/16                4.04               0.64         2017/1/16                    4.12                   0.56  2016/12/31
1   15896319        3000         12       20.0         2016/7/20              C        普通               是   28   女     成功认证        未成功认证    未成功认证   成功认证     未成功认证     未成功认证                  0.0                  0.0               0.00                        0             0             50                5                   5             19.63             3.52                     30.37                     2.06                     0          正常还款中    2016/11/21                4.06               0.57         2017/1/20                    4.13                   0.51  2016/12/31
2   16260546        3000         12       22.0         2016/7/23              C        其他               否   24   男     成功认证        未成功认证    未成功认证  未成功认证     未成功认证     未成功认证                  1.0               3000.0            2115.64                        4             0             50                5                   5             19.51             3.88                     30.49                     2.27                     0          正常还款中    2016/12/12                4.04               0.64         2017/1/23                    4.12                   0.56  2016/12/31
3   16517260        3036         12       22.0         2016/7/27              C        其他               否   32   男    未成功认证        未成功认证    未成功认证  未成功认证     未成功认证     未成功认证                  1.0               5000.0            3463.49                        4             0             50                5                   5             19.51             3.88                     30.49                     2.27                     0          正常还款中    2016/12/27                4.04               0.64         2017/1/27                    4.12                   0.56  2016/12/31
4   16594342        6286         11       20.0         2016/7/28              B        其他               否   27   女     成功认证        未成功认证    未成功认证   成功认证     未成功认证     未成功认证                  3.0               9073.0            4713.09                       17             0             50                5                   5             21.60             3.46                     28.40                     1.67                     0          正常还款中    2016/12/25                4.47               0.55         2017/1/28                    4.54                   0.47  2016/12/31

In [28]:
charinvest_field = charinvest.dtypes.reset_index()
charinvest_field.columns = ['字段名', '字段类型']

charinvest_field

                         字段名     字段类型
0                  ListingId    int64
1                 LOAD_MONEY    int64
2                  LOAN_TERM    int64
3                  LOAN_RATE  float64
4          LOAN_FUNDING_DATE   object
5             INITIAL_RATING   object
6                  LOAN_TYPE   object
7            IS_FIRST_INVEST   object
8                        AGE    int64
9                        SEX   object
10                  IS_PHONE   object
11              IS_RESIDENCE   object
12                  IS_VIDEO   object
13                    IS_EDU   object
14                 IS_CREDIT   object
15                 IS_TAOBAO   object
16       SUCCESS_LOAN_NUMBER  float64
17       SUCCESS_LOAN_AMOUNT  float64
18         TOTAL_NEED_AMOUNT  float64
19   HISTORY_NORMAL_PAY_TERM    int64
20              OVERDUE_TERM    int64
21             INVEST_AMOUNT    int64
22           CURRENT_BD_TERM    int64
23        CURRENT_PAYED_TERM    int64
24          REPAID_PRINCIPAL  float64
25           REPAID_INTEREST  float64
26  REPAIR_PAYABLE_PRINCIPAL  float64
27   REPAIR_PAYABLE_INTEREST  float64
28      CURRENT_OVERDUE_DAYS    int64
29            CURRENT_STATUS   object
30             LAST_PAY_DATE   object
31        LAST_PAY_PRINCIPAL  float64
32         LAST_PAY_INTEREST  float64
33         NEXT_PAYABLE_DATE   object
34    NEXT_PAYABLE_PRINCIPAL  float64
35     NEXT_PAYABLE_INTEREST  float64
36                RECORDDATE   object

In [8]:

query = "SELECT * FROM PPD_LOAN_PERIODIC"
lp = read_table(usr, query=query)
lp.head()

程序运行结束，运行时间0小时0分10.51秒.

   LISTINGID  TERM  PAY_STATUS  PAYABLE_PRINCIPAL  PAYABLE_INTEREST  RESIDUE_PRINCIPAL  RESIDUE_INTEREST EXPIRATION_DATE    PAY_DATE RECORDDATE
0     126541     1           1            1380.23            270.00                0.0               0.0      2015-06-04  2015-06-04 2017-02-22
1     126541     2           1            1400.94            249.29                0.0               0.0      2015-07-04  2015-07-04 2017-02-22
2     126541     3           1            1421.95            228.28                0.0               0.0      2015-08-04  2015-08-04 2017-02-22
3     126541     4           1            1443.28            206.95                0.0               0.0      2015-09-04  2015-09-04 2017-02-22
4     126541     5           1            1464.93            185.30                0.0               0.0      2015-10-04  2015-10-04 2017-02-22